.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 20px;
  margin: 0 auto;
  padding:20px 0;
}
.board > div:first-child{
  grid-column: 1;
  grid-row: 1;
}
.board:after {
  content: '';
  grid-column: 1 / span 1;
  grid-row: 1;
  aspect-ratio: 4 / 6;
  visibility: hidden;
  pointer-events: none;
}


@media (max-width: 600px) {
  .board {
    padding:20px 0;
    gap: 12px;
  }
}
