.card {
  --color-red: #E05A41;
  --color-blue: #5396C5;
  --color-yellow: #F6CD43;

  background: white;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  transition: transform 0.15s, box-shadow 0.15s, border-color 0.15s;
  aspect-ratio: 4 / 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card.selected {
  border-color: green;
  border-width: 3px;
  box-shadow: 0 0 0 5px var(--color-yellow);
}

.shapes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.shape {
  width: 38%;
  height: unset;
  aspect-ratio:1 / 1;
}

@media(max-width:600px){
  .card.selected {
    box-shadow: 0 0 0 2px var(--color-yellow);
  }
  .shape {
    width: 45%;
  }
}
