.gameInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  margin: 0 auto 20px;
  border-top:1px solid #fff;
}

.stats {
  display: flex;
  gap: 19px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right:1px solid #fff;
  flex:0 0 30%;
  padding-right:10%;
}

.stats .stat:last-child{
  border-right:0;
}

.label {
  font-size: 14px;
  line-height:14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.value {
  font-size: 36px;
  font-weight: 600;
  letter-spacing:0.05em;
}

.buttons {
  display: flex;
  gap: 12px;
}




@media (max-width: 600px) {
  .gameInfo {
    padding:10px 0;
  }

  .stats {

  }

  .value {
    line-height:36px;

  }
}
